# a function is a block of reusable code that runs when called

In [3]:
sum([75,4,12],9)

100

In [4]:
print('hello','world','!')

hello world !

In [5]:
print(7.8)

7.8

In [14]:
print('I am curious', 'to learn data science','soon', sep="\n")

I am curious
to learn data science
soon

In [15]:
print('I am curious', 'to learn data science','soon', sep="\t")

I am curious	to learn data science	soon

In [16]:
print('I am curious', 'to learn data science','soon', sep=",")

I am curious,to learn data science,soon

In [17]:
print('I am curious', 'to learn data science','soon', sep="\f")

I am curiousto learn data sciencesoon

In [18]:
# Hi this is Aaakash"s car

In [19]:
print('Hi, this is Aaakash\"s car')

Hi, this is Aaakash"s car

In [20]:
print("Hi, this is Aakash"s car")

SyntaxError: invalid syntax (<ipython-input-20-77c8ffb7272a>, line 1)

In [21]:
print("pot hot got'")

pot hot got'

In [22]:
print("venkat"+"needs"+"rest")

venkatneedsrest

In [23]:
print('five'+5)

TypeError: can only concatenate str (not "int") to str

In [24]:
print('five'+str(5))

five5