# string indexing and slicing

In [1]:
text = 'i like mangoes'
text[25]

IndexError: string index out of range

In [2]:
print(text[0])

i

In [3]:
print(text[:])

i like mangoes

In [4]:
print(text[:len(text)])

i like mangoes

In [5]:
text[::1]

'i like mangoes'

In [6]:
text[::-1]

'seognam ekil i'

In [8]:
text[2:]

'like mangoes'

In [10]:
text[-2]

'e'

# string operations

In [11]:
msg = 'Friday is doom\'s day'
msg.replace('Friday','Monday')

"Monday is doom's day"

In [12]:
msg

"Friday is doom's day"

In [13]:
msg.title()

"Friday Is Doom'S Day"

In [14]:
msg.lower()

"friday is doom's day"

In [15]:
msg.upper()

"FRIDAY IS DOOM'S DAY"

In [19]:
date = '1','10','2021'
sep='-'
print(sep.join(date))
print("/".join(date))

1-10-2021
1/10/2021

In [20]:
t1 = "***Python is easier****"
t1.strip("*")

'Python is easier'

In [21]:
t1.rstrip("*")

'***Python is easier'

In [22]:
t1.lstrip('*')

'Python is easier****'

# LIST

In [23]:
list1 = [1,2,3]

In [25]:
list1=['a','b',10.1,5,True]

### list is heterogenous

In [27]:
list2= [1,1,1,1,1,5]

In [28]:
list2

[1, 1, 1, 1, 1, 5]

### list allows duplicates

In [29]:
list1[0] = 25

In [31]:
list1

[25, 'b', 10.1, 5, True]

### list is mutable

In [43]:
a=[4,1,2]
print(sorted(a))
print(a)

[1, 2, 4]
[4, 1, 2]

In [44]:
a.sort()

In [45]:
a

[1, 2, 4]

In [48]:
sorted(a)

[1, 2, 4]

In [49]:
a.pop(2)

4

In [50]:
len(a)

2

In [52]:
max(a),min(a)

(2, 1)

In [53]:
max(a)

2

In [54]:
scores = [80, 75, 60, 90]

In [55]:
scores.remove(75)

In [56]:
scores

[80, 60, 90]

In [57]:
scores.append(70)

In [58]:
scores.append(85)

In [59]:
scores.append(20)

In [60]:
scores.append(75)

In [61]:
scores

[80, 60, 90, 70, 85, 20, 75]

In [62]:
score.sort(reverse = True)

NameError: name 'score' is not defined

In [63]:
scores.sort(reverse = True)

In [64]:
scores

[90, 85, 80, 75, 70, 60, 20]

In [65]:
scores.sort()

In [66]:
scores

[20, 60, 70, 75, 80, 85, 90]

In [68]:
scores.sort(reverse = True)

In [69]:
scores

[90, 85, 80, 75, 70, 60, 20]

In [70]:
scores[2:-1]

[80, 75, 70, 60]

In [71]:
##negative indexing also doesn't include last value

# TUPLES

In [72]:
# tuples are immutable
# paranthesis - optional
# same as list in many ways
# heterogenous
# difference is 
#1. tuples syntax
#2. tuples are faster
#3. immutability - an element cannot be added/deleted/updated
#4. sort fn not available in tuples

In [73]:
# tuples indexing

restaurant = 'SSV', 'AKM', 'Rajbrid', 'Hyto'
restaurant[:]

('SSV', 'AKM', 'Rajbrid', 'Hyto')

In [74]:
restaurant[0:3]

('SSV', 'AKM', 'Rajbrid')

In [76]:
restaurant[-1:]

('Hyto',)

In [77]:
# Sorted fn can be used to sort tuples
# but it return only a list 

a = 10, 4, 12, 9

In [78]:
type(a)

tuple

In [79]:
print(sort(a))

NameError: name 'sort' is not defined

In [80]:
print(a.sort())

AttributeError: 'tuple' object has no attribute 'sort'

In [81]:
# tuples don't have sort func
# instead they use sorted fn

print(sorted(a))

[4, 9, 10, 12]

In [82]:
a

(10, 4, 12, 9)

In [85]:
print(sorted(a, reverse = True))

[12, 10, 9, 4]

In [86]:
max(a)

12

In [87]:
min(a)

4

In [88]:
sum(a)

35

In [89]:
avg(a)

NameError: name 'avg' is not defined

In [90]:
# max, min, sum fns are aplicable to tuples

In [91]:
b = 1, 1.5 , 'a', 'hello', True, 3+2j
max(b)

TypeError: '>' not supported between instances of 'str' and 'float'

In [92]:
min(b)

TypeError: '<' not supported between instances of 'str' and 'int'

In [93]:
sort(b)

NameError: name 'sort' is not defined

In [94]:
sum(b)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [95]:
# sum, max, min won't work if the tuple is heterogenous

# SET

In [97]:

# Set doesn't allow duplicates
# Heterogenous 
# Mutable -----> Add, Delete element
#                but indexing isn't possible 
# You can't access set elements by index

# Dictionary

In [98]:
# Key value pair
# mutable
books = {'Harry Potter: Prisoner of Azkaban': 5,
         'Secret of Nagas': 10, 'Two states': 13,
         'Da Vinci Code': 6}


books['Harry Potter: The Half Blood Prince'] = 4

In [99]:
books

{'Harry Potter: Prisoner of Azkaban': 5,
 'Secret of Nagas': 10,
 'Two states': 13,
 'Da Vinci Code': 6,
 'Harry Potter: The Half Blood Prince': 4}

In [100]:
del ['Two states']

SyntaxError: cannot delete literal (<ipython-input-100-e817fa975a14>, line 1)

In [101]:
del books ['Two states']

In [102]:
books

{'Harry Potter: Prisoner of Azkaban': 5,
 'Secret of Nagas': 10,
 'Da Vinci Code': 6,
 'Harry Potter: The Half Blood Prince': 4}

### word count program

In [105]:
sentence = 'I eat chocolates every day day day day'
w_c = {}

for word in sentence.split():
    if word in w_c:
        w_c[word]+=1
    else:
        w_c[word] = 1

In [106]:
print(w_c)

{'I': 1, 'eat': 1, 'chocolates': 1, 'every': 1, 'day': 4}

In [112]:
# alternatively we can use defaultdict() 
# in order to avoid the error of uninitalized values we use dafaultdict()


from collections import defaultdict

sentence = 'I eat chocolates everyday without fail'
w_c = defaultdict(int)

for word in sentence.split(): 
    w_c[word] += 1  

print(w_c)

defaultdict(<class 'int'>, {'I': 1, 'eat': 1, 'chocolates': 1, 'everyday': 1, 'without': 1, 'fail': 1})

In [113]:
# shallow copy of dictionary can be created

w_c_1 = w_c.copy()

In [114]:
w_c_1

defaultdict(int,
            {'I': 1,
             'eat': 1,
             'chocolates': 1,
             'everyday': 1,
             'without': 1,
             'fail': 1})

In [115]:
w_c_1.values()

dict_values([1, 1, 1, 1, 1, 1])

In [117]:
w_c_1.keys()

dict_keys(['I', 'eat', 'chocolates', 'everyday', 'without', 'fail'])

In [118]:
# taking keys from tuple
t = 1,2,3,4,5
dict1 = dict.fromkeys(t)

In [119]:
dict1

{1: None, 2: None, 3: None, 4: None, 5: None}

In [121]:
# setting a default value
t2 = 4,5,6,7
dict1= dict.fromkeys(t2,8)

In [122]:
dict1

{4: 8, 5: 8, 6: 8, 7: 8}

In [124]:
dict1[0]

KeyError: 0

# LIST COMPREHENSION

In [129]:
# to find strings which are longer than 9
prd = ['apparels','crockeris','cosmetics','beverages','detergents']
res = [x for x in prd if len(x)>9]

In [131]:
res

['detergents']

In [130]:
#finding the square of numbers between 1 to 100
sq_num_series = [i*i for i in range(1,101)]
print(sq_num_series)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [132]:
# to print the first letter of each element in a list
list_a = ['jackson','Peter','Novia','Tom']
n_list = [v[0] for v in list_a]

In [133]:
n_list

['j', 'P', 'N', 'T']